.product-container {
    display: flex;

    .container-letf {
        width: 50%;
    }

    .container-right {
        width: 50%;
        border: 1px solid green;

        .title {
            font-size: 18px;
            font-weight: 600;
            text-align: left;
            padding: 10px 0;
        }
    }
}