.product-container {
    display: flex;

    .content-left {
        width: 50%;
        .img-down{
            display: flex;
            gap: 10px;
            border: 1px solid gray;
            .img-small{
                img{
                    width: 100px;
                    height: 100px;
                }
            }
        }
    }

    .content-right {
        width: 50%;
        border: 1px solid green;

        .title {
            font-size: 18px;
            font-weight: 600;
            text-align: left;
            padding: 10px 0;
        }

        .price {
            font-size: 20px;
            font-weight: 600;
            padding: 5px 0 15px 0;
        }

        .size {
            padding: 5px 0;
        }

        .action {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .quantity {
                padding: 15px 0 0 0;
            }

            input {
                border: none;
                outline: none;
                height: 25px;
                width: 30px;
                border-radius: 3px;
            }

            button {
                background: #ff3945;
                border: none;
                outline: none;
                border-radius: 3px;
                color: white;
                font-size: 14px;
                height: 30px;
                width: 60%;
            }
        }
    }
}