.product-container {
    display: flex;

    .content-left {
        width: 50%;
    }

    .content-right {
        width: 50%;
        border: 1px solid green;

        .title {
            font-size: 18px;
            font-weight: 600;
            text-align: left;
            padding: 10px 0;
        }

        .price {
            font-size: 20px;
            font-weight: 600;
            padding: 5px 0 15px 0;
        }

        .size {
            padding: 5px 0;
        }

        .action {
            display: flex;
            flex-direction: columns;
            gap: 15px;
        }
    }
}